a{
  color: #0099e8;
  text-decoration: none;
}

.form-info-text{
  color: #888;
}

.new-item-blue{
  color: #0099e8;
  text-decoration: none;
}

.font-2{
  font-size: 16px;
  color: #333;
}

.font-5{
  font-weight: 600;
  color: #333;
}
