.single-container
  %header.single-header
    %h1
      %a
        = image_tag 'logo.svg'
  %main.single-main
    .login-panel
      .login-panel__no-account
        %p アカウントをお持ちでない方はこちら
        %a 新規会員登録
      .login-form-inner
        %button.btn-default.btn-sns.btn-sns-facebook
          = fa_icon 'facebook-square', class: 'icon-facebook'
          facebookでログイン
        %button.btn-default.btn-sns.btn-sns-google
          = fa_icon 'google-plus-square', class: 'icon-google-plus'
          Googleでログイン
      %form
        .login-form-inner
          .form-group
            %input.input-default.login-input-text{placeholder: 'メールアドレス', type:'email'}
          .form-group
            %input.input-default.login-input-text{placeholder: 'パスワード', type:'password'}
          .form-group
            %button.btn-default.login-submit.btn-red ログイン
          %a パスワードをお忘れの方
  = render 'shared/footer2'
