%nav.bread-crumbs
  %ul
    %li
      %a
        %span メルカリ
      = fa_icon 'angle-right', class: 'icon-arrow-right'
    %li
      %a
        %span マイページ
      = fa_icon 'angle-right', class: 'icon-arrow-right'
    %li
      %a
        %span 本人情報の登録
