.pickup-container{
  padding: 40px 0;
  background: #f5f5f5;
  &__head{
    font-size: 28px;
    text-align: center;
  }
}

.items-box-container{
  width: 940px;
  margin: 0 auto;
  h3{
    font-size: 22px;
    margin: 26px 11px;
    a{
    }
  }
  .items-box-content{
    width: auto;
    margin: 0 auto;
  }
  .view-all{
    padding: 20px 0 30px;
    width: 99.5%;
    text-align: right;
    a{
    color: #0099e8;
    text-decoration: none;
    }
  }
}

.items-box{
  margin: 0 0 0 20px;
  width: 213px;
  position: relative;
  float: left;
  background: #fff;
  &__photo{
    height: 220px;
    overflow: hidden;
    position: relative;
    margin: 0;
    .is-higher-width{
      width: auto;
      left: 50%;
      right: auto;
      height: 100%;
      transform: translate(-50%, 0);
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 1
    }
  }
  &__body{
    padding: 16px;
    height: 110px;
    &__name{
      overflow: hidden;
      position: relative;
      font-weight: 400;
      height: 1.1em;
      line-height: 1.5;
      word-break: break-word;
      white-space: normal;
    }
    &__num{
      margin: 8px 0 0;
      &__price{
        font-size: 20px;
        float: left;
      }
      &__likes{
        float: right;
        i{
          margin: 0 4px 0 0;
          vertical-align: middle;
        }
        span{
          display: inline-block;
          margin: 1px 0 0;
          vertical-align: middle;
        }
      }
      &__tax{
        font-size: 10px;
        clear: both;
      }
    }
  }
  a{
    display: block;
    color: #333;
  }
}

.l-chapter-container:first-child{
  margin: 0;
  background: #fff;
  &__head{
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
  }
}
.setting-profile-icon{
  padding: 72px 16px 24px;
  background-image: url("http://blogimg.goo.ne.jp/user_image/0f/99/24f9145ed5ca6b5aa8885f3b3d606bd2.png");
  background-repeat: no-repear;
  background-size: cover;
  text-align: center;
  font-size: 0;
  figure{
    display: inline-block;
    overflow: hidden;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    vertical-align: middle;
    img{
      vertical-align: middle;
      width: 60px;
      height: 60px;
    }
  }
  .input-default{
    width: 220px;
    margin:0 0 0 8px;
    vertical-align: middle;
  }
}
.setting-profile-content{
  padding: 40px 16px;
  .textarea-default{
    min-height: 216px;
  }
  .btn-red{
  margin: 16px 0 0;
  }
}
.textarea-default{
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 104px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
}
