.input-default{
  height: 45px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  fint-size: 16px;
}

.form-group{
  margin: 24px 0 0;
  label{
    font-weight: 600;
  }
  .select-wrap{
    margin: 8px 0 0;
  }
  select{
    width: 100%;
  }
  .input-default{
    width: 100%;
    margin: 8px 0 0;
  }
}

.form-group:first-child{
  margin: 0;
}

.form-require{
  background: #ea352d;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}

.birthday-select-wrap{
  display: inline-block;
  .select-wrap{
    width: 140px;
    display: inline-block;
  }
  span{
      margin: 0 8px;
    }
}

.select-wrap{
  position: relative;
  background: #fff;
  .icon-arrow-bottom{
    position: absolute;
    right: 16px;
    top: 50%;
    z-index: 2;
    color: #000;
    font-size: 8px;
    transform: translate(0, -50%);
  }
}

.select-default{
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursol: pointer;
}

.form-question{
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #0099e8;
  color: #fff;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
}

.sell-price li:first-child{
  padding:0 0 24px;
  border: 0;
}

.sell-price li{
  padding: 24px 0;
  border-top: 1px solid #ccc
}

.sell-price{
  .form-group{
    .l-left{
      width: 50%;
      line-height: 48px;
    }
    .l-right{
      width: 50%;
    }
  }
  &__input{
    text-align: right;
    div{
      display: inline-block;
      width: 80%;
      margin: 0 0 0 5%;
    }
  }
}

.single-container{
  padding: 0 0 220px;
  .single-header{
    height: 128px;
    text-align: center;
    h1{
      margin: 40px 0 0;
      display: inline-block;
    }
    a{
      width: 185px;
      height: 49px;
      line-height: 49px;
      display: inline-block;
      margin: 0 8px 0 0;
      img{
        width: 185px;
        height: 49px;
      }
    }
  }
}

.progress-bar.signup-bar{
  padding:40px 0 0 44px;
  border: 0;
  border-top: 1px solid #eee;
}

.progress-bar{
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  text-align: center;
  ol{
    margin: 0;
  }
  li.active{
    font-weight: 600;
    color: #ea352d;
    .progress-status{
      background: #ea352d;;
    }
  }
  li{
    margin:0 40px 0 0;
    min-width: 60px;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-size: 12px;
    color: #888;
  }
}

.progress-status{
  width: 12px;
  height: 12px;
  margin: 8px auto 0;
  background: #ccc;
  border-radius: 50%;
}

.btn-default{
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}

.btn-mail{
  position: relative;
  background: #eee;
  color: #000;
  .icon-mail{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translate(0, -50%);
    color: #ccc;
    font-size: 16px;
  }
}

.btn-sns{
  position: relative;
  i{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translate(0, -50%);
  }
}

.login-submit{
  margin: 24px 0 0;
}
.btn-sns-facebook{
  margin: 16px 0 0;
  background: #385185;
  color: #fff;
  .icon-facebook{
    color: #fff;
    background: #385185;
    font-size: 18px;
  }
}
.btn-sns-google{
  margin: 16px 0 0;
  background: #dc4e41;
  color: #fff;
  .icon-google-plus{
    color: #fff;
    background: #dc4e41;
    font-size: 18px;
  }
}

.btn-red{
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}

.btn-glay{
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
}

.mypage-nav-head{
  margin: 40px 0 0;
  font-size: 16px;
  font-weight: bold;
}

main{
  display: block;
  .login-panel{
    max-width: none;
    width: 456px;
    margin: 0 auto;
    background: #fff;
    a{
      color: #0099e8;
      display: block;
      margin: 40px 0 0;
    }
    &__no-account{
      padding: 40px 64px;
      text-align: center;
      p{
        font-soze: 14px;
      }
      a{
        display: block;
        margin: 8px 0 0;
        border: 1px solid #0099e8;
        background: #0099e8;
        color: #fff;
        line-height: 40px;
      }
    }
    .login-form-inner{
      padding: 32px 64px;
      border-top: 1px solid #eee;
      .input-default{
        margin: 0;
        width: 100%;
      }
    }
    .login-form-inner:first-child{
      padding: 24px 64px 32px;
      border: 0;
    }
    .btn-default{
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      border: 1px solid transparent;
      transition: all ease-out .3s;
      cursor: pointer;
      text-align: center;
    }
  }
}

.l-single-container{
  width: 700px;
  margin: 0 auto;
  background: #fff;
  &__head{
    padding: 32px 16px;
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
  }
  &__inner{
    padding: 64px;
    border-top: 1px solid #f5f5f5;
  }
}

.l-single-head{
  padding: 32px 16px;
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
}

.sell-upload-container{
  display: block;
  width: 620px;
  margin: 16px auto 0;
  &__items{
    display: inline;
    &____child{
      dislpay: inline;
      float: left;
      &ul{
        display: inline;
        width: 100%;
      }
    }
  }
  &__drop-box{
    width: 100%;
    margin-left: 0;
    float: right;
    position: relative;
    min-height: 162px;
    background: #f5f5f5;
    border: 1px dashed #ccc;
    font-size: 0;
    text-align: center;
    cursol: pointer;
    pre{
      position: absolute;
      top: 50%;
      left: 16px;
      right: 16px;
      text-align: center;
      font-size: 14px;
      line-height: 1.5;
      transform: translate(0, -50%);
      pointer-events: none;
      white-space: pre-wrap;
      word-wrap: break-word;
      display: block;
    }
  }
}

.sell-content{
  padding: 40px;
  border: 1px solid #eee;
}

.sell-btn-box {
  p{
    line-height: 1.5;
  }
  .btn-red{
    margin: 40px 0 0;
  }
  .btn-glay{
    width: 45%;
    margin: 24px auto 0;
  }
}

.sell-sub-head{
  float: left;
  color: #888;
  font-size: 14px;
}

.sell-form-box{
  float: right;
  width: 400px;
  margin: 0;
}

.sell-form{
  border-top: 1px solid #eee;
}

.sell-upload-box{
  width: 620px;
  padding: 40px;
  &__head{
    font-size: 16px;
    +p{
      margin: 8px 0 0;
      line-height: 1.5;
    }
  }
}

.single-footer{
  width: 456px;
  height: 220px;
  margin: 0 auto;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 40px 0;
  text-align: center;
  &__logo{
    width: 80px;
    height: 65px;
    img{
      width: 80px;
      height: 65px;
      margin: 40px auto 0;
    }
  }
  li{
    display: inline-block;
    font-size: 14px;
    margin: 0 0 0 16px;
    a{
      display: block;
      color: #333;
    }
  }
  li:first-child{
    margin: 0;
  }
  p{
    margin: 8px 0 0;
    small{
      font-size: 12px;
    }
  }
}

.l-single-content{
  max-width: 320px;
  margin: 0 auto;
}
